// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  height: 100vh;
  margin: 0;
}

#app-root {
  box-sizing: border-box;
  font-family: monospace;
  height: 100%;
  padding: 8px;
}
